In [1]:
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import plotly.express as px

C:\Users\leecc\AppData\Local\Temp\ipykernel_10496\693147478.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\leecc\AppData\Local\Temp\ipykernel_10496\693147478.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
df = pd.read_csv('profit.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit    date
0  165349.20       136897.80        471784.10    New York  192261.83  May-11
1  162597.70       151377.59        443898.53  California  191792.06  Jun-11
2  153441.51       101145.55        407934.54     Florida  191050.39  Jul-11
3  144372.41       118671.85        383199.62    New York  182901.99  Aug-11
4  142107.34        91391.77        366168.42     Florida  166187.94  Sep-11

In [4]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit',
       'date'],
      dtype='object')

In [5]:
#change columns 
df = df.rename(columns = {'R&D Spend':'rd', 'Marketing Spend': 'marketing',
                          'Administration':'admin', 'State': 'state', 'Profit': 'profit'
                         })

In [6]:
df.head()

          rd      admin  marketing       state     profit    date
0  165349.20  136897.80  471784.10    New York  192261.83  May-11
1  162597.70  151377.59  443898.53  California  191792.06  Jun-11
2  153441.51  101145.55  407934.54     Florida  191050.39  Jul-11
3  144372.41  118671.85  383199.62    New York  182901.99  Aug-11
4  142107.34   91391.77  366168.42     Florida  166187.94  Sep-11

In [7]:
# df.to_csv('df.csv', index = False )

In [8]:
app = dash.Dash()

In [9]:
app.layout = html.Div([
    html.H1(children = 'admin vs profit', style = {'textAlign':'center', 'color':'blue', 'font-weight': 'bold'}),
    html.Div('Scatter Plot', style = {'textAlign':'center', 'color':'red'}),
    
    dcc.Graph(
        id = 'fintech_sample', 
        figure = {'data': [
            go.Scatter(x = df.admin, y = df.profit, mode = 'markers')
        ],
        'layout': {
            'title':'Scatter plot of admin vs profit '}
        }
    )
])

In [10]:
if __name__ == '__main__':
    app.run_server(port = 4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Mar/2023 20:55:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:16] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:16] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:17] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:17] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

In [11]:
# rd vs profit
app.layout = html.Div([
    html.H1(children = 'rd vs profit', style = {'textAlign':'center', 'color':'blue', 'font-weight': 'bold'}),
    html.Div('Scatter Plot', style = {'textAlign':'center', 'color':'red'}),
    
    dcc.Graph(
        id = 'fintech_sample', 
        figure = {'data': [
            go.Scatter(x = df.rd, y = df.profit, mode = 'markers')
        ],
        'layout': {
            'title':'Scatter plot of rd vs profit '}
        }
    )
])

In [12]:
if __name__ == '__main__':
    app.run_server(port = 4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Mar/2023 20:55:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:24] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:24] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:25] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:25] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

In [13]:
# plotting xaxis and yaxis title
app.layout = html.Div([
    html.H1(children = 'rd vs profit', style = {'textAlign':'center', 'color':'blue', 'font-weight': 'bold'}),
    html.Div('Scatter Plot', style = {'textAlign':'center', 'color':'red'}),
    
    dcc.Graph(
        id = 'fintech_sample', 
        figure = {'data': [
            go.Scatter(x = df.rd, y = df.profit, mode = 'markers')
        ],
        'layout': {
            'title':'Scatter plot of rd vs profit ',
            'xaxis':{'title': 'rd'},
            'yaxis':{'title': 'profit'}}
        }
    )
])

In [14]:
if __name__ == '__main__':
    app.run_server(port = 4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Mar/2023 20:55:33] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:33] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:33] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:33] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:33] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

In [15]:
df_states = pd.DataFrame(df.groupby('state')['profit'].agg(['mean', 'sum', 'count']))
df_states.reset_index(inplace=True)

In [16]:
df_states

        state           mean         sum  count
0  California  103905.175294  1766387.98     17
1     Florida  118774.024375  1900384.39     16
2    New York  113756.446471  1933859.59     17

In [17]:
app.layout = html.Div(children=[
    
    html.H1(children = 'State vs Profit', style = {'textAlign':'center', 'color':'blue', 'font-weight': 'bold'}),
    html.Div('Bar Plot', style = {'textAlign':'center', 'color':'red'}),    
    
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['mean']
                )
            ],
            'layout': go.Layout(
                title='state mean',
                xaxis={'title': 'state'},
                yaxis={'title': 'profit mean'}
            )
        }
    ),
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['sum']
                )
            ],
            'layout': go.Layout(
                title='state sum',
                xaxis={'title': 'state'},
                yaxis={'title': 'profit sum'}
            )
        }
    ),
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['count']
                )
            ],
            'layout': go.Layout(
                title='state count',
                xaxis={'title': 'state'},
                yaxis={'title': 'count'}
            )
        }
    )
])


if __name__ == '__main__':
    app.run_server(port = 4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Mar/2023 20:55:45] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:45] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:45] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:45] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:55:45] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

In [18]:
df_states = pd.DataFrame(df.groupby('state')['marketing'].agg(['mean', 'sum', 'count']))
df_states.reset_index(inplace=True)
df_states

        state           mean         sum  count
0  California  182540.929412  3103195.80     17
1     Florida  247323.551250  3957176.82     16
2    New York  205346.015882  3490882.27     17

In [19]:
app.layout = html.Div(children=[
    
    html.H1(children = 'State vs Profit', style = {'textAlign':'center', 'color':'blue', 'font-weight': 'bold'}),
    html.Div('Bar Plot', style = {'textAlign':'center', 'color':'red'}),    
    
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['mean']
                )
            ],
            'layout': go.Layout(
                title='state mean',
                xaxis={'title': 'state'},
                yaxis={'title': 'profit mean'}
            )
        }
    ),
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['sum']
                )
            ],
            'layout': go.Layout(
                title='state sum',
                xaxis={'title': 'state'},
                yaxis={'title': 'profit sum'}
            )
        }
    ),
    dcc.Graph(
        id='bar-plot',
        figure={
            'data': [
                go.Bar(
                    x=df_states['state'],
                    y=df_states['count']
                )
            ],
            'layout': go.Layout(
                title='state count',
                xaxis={'title': 'state'},
                yaxis={'title': 'count'}
            )
        }
    )
])


if __name__ == '__main__':
    app.run_server(port = 4050)

Dash is running on http://127.0.0.1:4050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Mar/2023 20:56:13] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:56:14] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:56:14] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:56:14] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Mar/2023 20:56:14] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -